
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:50px 150px;
    
    
}
.dateTime ,.location{
    font-weight: 500;
    color: rgb(118, 157, 249);
    margin-top:2%;
    
  }
  .time ,.date , .temp,.loc{
    margin: 0%;
  }
 .temp{
  font-size: 300%;
  font-weight: 400;
 }
 .icon{
   font-size: 150%;;
 }
  
  




