.card {
  background-image: url("../../public/assets/wallpaper-image.png");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 150px;
  height: 40vh;
}
.dateTime,
.location {
  position: relative;
  font-weight: 500;
  color: white;
  margin-top: 2%;
}
.time,
.date,
.temp,
.loc {
  margin: 0%;
}
.temp {
  font-size: 300%;
  font-weight: 400;
}
.icon {
  font-size: 150%;
}
