.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-wrapper {
  background-color: white;
  width: 16%;
  border-radius: 10px;
  height: 1.5rem;
  padding: 0 10px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: center;
  margin-top: 2%;
}
.inputBox {
  background-color: transparent;
  border: none;
  height: 70%;
  font-size: 0.7rem;
  width: 60%;
  margin-left: 2px;
  outline: none;
}
