.content{
    display: flex;
    flex-direction: row;
    border-radius: 7%;
    gap:100px;
    border-width: 2px;
    width:25vw;
    padding: 1%;
    padding-left: 4%;
    margin:5%;
    margin-left:12%;
    background-color: rgb(118, 157, 249);
    color: white;
    box-shadow: 0px 4px 10px rgba(118, 157, 249);

}
.rain-value{
    font-weight: bold;
}
.rain-percent{
    color: lightgreen;
}