.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.report {
  width: 100%;
  max-width: 300px;
  border-width: 2px;
  border-radius: 20px;
  padding: 2%;
  box-shadow: 1px 1px 1px 2px rgb(118, 157, 249);
}
